<!DOCTYPE html>
<html>
  <head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{asset "css/main.min.css"}}" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
  </head>

  <body class="{{body_class}} nav-closed">
    <header id="global-header" class="global-header navbar">
      {{navigation}}
    </header>

    <div class="site-wrapper">
      {{! Everything else gets inserted here }}
      {{{body}}}

      <footer class="site-footer clearfix">
        <div class="col-xs-offset-1 col-xs-10 content">
          <div class="col-xs-12 col-sm-6 social">
            <a href="https://twitter.com/reconfirmit" target="blank"><i class="fa fa-twitter"></i></a>
            <a href="https://www.facebook.com/reconfirmit/" target="blank"><i class="fa fa-facebook"></i></a>
            <a href="https://plus.google.com/u/0/b/114170937536066251586/114170937536066251586" target="blank"><i class="fa fa-google-plus"></i></a>
            <a href="https://www.linkedin.com/company/reconfirm.it" target="blank"><i class="fa fa-linkedin"></i></a>
            <a href="https://www.youtube.com/channel/UCtDztUUGEt63LikamxLzc8Q" target="blank"><i class="fa fa-youtube"></i></a>
            <a href="https://vimeo.com/reconfirmit" target="blank"><i class="fa fa-vimeo"></i></a>
          </div>
          <div class="col-xs-12 col-sm-6 copy">
            <span><a href="https://app.reconfirm.it/terms-conditions">Terms of Service</a></span>
            <span><a href="https://app.reconfirm.it/privacy-policy">Privacy Policy</a></span>
            <span><a href="https://app.reconfirm.it/acceptable-use">Acceptable Use Policy</a></span>
            <span>&#169;{{date format="YYYY"}}, Synapp.io</span>
          </div>
        </div>
      </footer>
    </div>

    {{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    <script type="text/javascript" src="{{asset "js/jquery_fitvids.min.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/jquery_ghosthunter.min.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/index.min.js"}}"></script>
    <script>
        $("#search-field").ghostHunter({
            rss : "{{@blog.url}}/rss/",
            results : "#results",
            onKeyUp : true,
        });
    </script>
  </body>
</html>
